{
    "extends": "webbylab",
    "settings": {
        "react": {
            "version": "17.0.0"
        }
    },
    "env": {
        "jest": true
    },
    "rules": {
        "react/require-default-props": 0,
        "react/react-in-jsx-scope": 0,
        "react/jsx-uses-react" : 0,
        "react/no-multi-comp": 0,
        "func-style": 0,
        "import/no-unresolved": 0,
        "react/jsx-no-bind": 0,
        "template-curly-spacing": "off",
        "indent": [
            "error",
            4,
            {
                "ignoredNodes": [
                    "TemplateLiteral"
                ]
            }
        ],
        "react/no-did-update-set-state": 0,
        "no-param-reassign": 0,
        "more/no-window": 0,
        "react/jsx-closing-tag-location": 0,
        "react/jsx-closing-bracket-location": 0
    },
    "globals": {
        "testContext": true
    }
}
